.why-card{

position:relative;

background:

linear-gradient(145deg,

rgba(255,255,255,.02),

rgba(255,0,60,.03));

border:1px solid rgba(255,255,255,.08);

border-radius:18px;

padding:35px;

overflow:hidden;

transition:.45s;

min-height:310px;

backdrop-filter:blur(10px);

}


.why-card:hover{

transform:translateY(-12px);

border-color:#ff003c;

box-shadow:

0 0 45px rgba(255,0,60,.18);

}


.scan-line{

position:absolute;

top:-100%;

left:0;

width:100%;

height:90px;

background:

linear-gradient(

transparent,

rgba(255,0,60,.18),

transparent);

animation:scan 6s linear infinite;

}


@keyframes scan{

100%{

top:120%;

}

}


.corner{

position:absolute;

width:18px;

height:18px;

border-color:#ff003c;

opacity:.6;

}


.tl{

top:0;

left:0;

border-top:2px solid;

border-left:2px solid;

}


.tr{

top:0;

right:0;

border-top:2px solid;

border-right:2px solid;

}


.bl{

bottom:0;

left:0;

border-bottom:2px solid;

border-left:2px solid;

}


.br{

bottom:0;

right:0;

border-bottom:2px solid;

border-right:2px solid;

}


.why-top{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:35px;

}


.icon-box{

width:70px;

height:70px;

display:grid;

place-items:center;

border-radius:16px;

background:

linear-gradient(

145deg,

rgba(255,0,60,.15),

rgba(255,255,255,.02));

color:#ff003c;

transition:.4s;

}


.why-card:hover .icon-box{

transform:rotate(-8deg) scale(1.08);

box-shadow:0 0 30px rgba(255,0,60,.4);

}


.number{

font-size:42px;

font-weight:800;

color:rgba(255,255,255,.08);

}


.why-card h3{

font-size:24px;

margin-bottom:18px;

}


.why-card p{

line-height:1.8;

color:#999;

font-size:15px;

}


.card-footer{

margin-top:35px;

display:flex;

justify-content:space-between;

align-items:center;

font-size:12px;

letter-spacing:2px;

color:#777;

}


.pulse{

width:10px;

height:10px;

border-radius:50%;

background:#ff003c;

box-shadow:

0 0 18px #ff003c;

animation:pulse 1.3s infinite;

}


@keyframes pulse{

50%{

transform:scale(.5);

opacity:.4;

}

}