.process-terminal{

background:#090909;

border:1px solid rgba(255,0,60,.2);

border-radius:20px;

overflow:hidden;

box-shadow:0 0 35px rgba(255,0,60,.15);

}

.terminal-header{

display:flex;

align-items:center;

gap:10px;

padding:18px 22px;

background:#111;

border-bottom:1px solid rgba(255,255,255,.05);

}

.dot{

width:12px;

height:12px;

border-radius:50%;

}

.red{

background:#ff3b30;

}

.yellow{

background:#ffcc00;

}

.green{

background:#34c759;

}

.terminal-header h4{

margin-left:10px;

font-size:14px;

letter-spacing:2px;

color:#fff;

}

.terminal-body{

padding:30px;

font-family:monospace;

font-size:15px;

line-height:2;

color:#bdbdbd;

}

.terminal-body span{

color:#ff003c;

font-weight:bold;

margin-right:8px;

}

.success{

color:#00ff88;

font-weight:bold;

}