.process{

padding:140px 8%;

background:#050505;

position:relative;

overflow:hidden;

}

.process::before{

content:"";

position:absolute;

inset:0;

background-image:

linear-gradient(rgba(255,255,255,.03) 1px,transparent 1px),

linear-gradient(90deg,rgba(255,255,255,.03) 1px,transparent 1px);

background-size:60px 60px;

opacity:.35;

}

.process-header{

position:relative;

z-index:2;

max-width:750px;

margin:auto;

text-align:center;

margin-bottom:90px;

}

.process-badge{

display:inline-block;

padding:10px 22px;

border:1px solid rgba(255,0,60,.4);

border-radius:30px;

color:#ff003c;

font-size:12px;

letter-spacing:3px;

margin-bottom:25px;

}

.process-header h2{

font-size:62px;

font-weight:800;

line-height:1.1;

margin-bottom:25px;

}

.process-header h2 span{

display:block;

color:#ff003c;

}

.process-header p{

font-size:18px;

line-height:1.8;

color:#9a9a9a;

}

.process-wrapper{

display:grid;

grid-template-columns:1fr 520px;

gap:70px;

align-items:center;

position:relative;

z-index:2;

}

@media(max-width:1100px){

.process-wrapper{

grid-template-columns:1fr;

}

}