.about{

min-height:100vh;

display:grid;

grid-template-columns:1fr 1fr;

align-items:center;

gap:70px;

padding:100px 8%;

background:#050505;

}

.section-tag{

display:inline-block;

padding:8px 18px;

border:1px solid #ff003c;

border-radius:30px;

color:#ff003c;

margin-bottom:20px;

}

.about h2{

font-size:60px;

margin-bottom:25px;

}

.about h2 span{

color:#ff003c;

}

.about p{

color:#bcbcbc;

line-height:1.8;

font-size:18px;

}

.about-features{

margin-top:40px;

display:grid;

gap:20px;

}

.feature-card{

padding:22px;

border:1px solid rgba(255,255,255,.08);

background:rgba(255,255,255,.03);

border-radius:15px;

transition:.4s;

}

.feature-card:hover{

transform:translateY(-8px);

border-color:#ff003c;

box-shadow:0 0 25px rgba(255,0,60,.2);

}

.security-circle{

position:relative;

width:420px;

height:420px;

margin:auto;

display:flex;

justify-content:center;

align-items:center;

}

.ring{

position:absolute;

border:2px solid rgba(255,0,60,.3);

border-radius:50%;

animation:rotateRing 15s linear infinite;

}

.ring1{

width:420px;

height:420px;

}

.ring2{

width:300px;

height:300px;

animation-direction:reverse;

}

.shield{

font-size:90px;

filter:drop-shadow(0 0 25px red);

}

@keyframes rotateRing{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}