@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;900&family=Poppins:wght@300;400;500;600&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#050505;
font-family:Poppins,sans-serif;
color:white;

}

.navbar{

position:fixed;

top:0;

left:0;

width:100%;

padding:18px 8%;

display:flex;

justify-content:space-between;

align-items:center;

background:rgba(0,0,0,.55);

backdrop-filter:blur(15px);

border-bottom:1px solid rgba(255,0,60,.25);

z-index:9999;

}

.logo span{

display:block;

font-size:13px;

letter-spacing:4px;

color:#ddd;

}

.logo h2{

font-family:Orbitron;

font-size:28px;

color:#ff003c;

}

nav ul{

display:flex;

gap:35px;

list-style:none;

}

nav a{

text-decoration:none;

color:white;

font-weight:500;

transition:.3s;

}

nav a:hover{

color:#ff003c;

}

.nav-btn{

padding:14px 30px;

background:#ff003c;

border:none;

border-radius:40px;

color:white;

cursor:pointer;

font-weight:600;

transition:.35s;

}

.nav-btn:hover{

transform:translateY(-4px);

box-shadow:0 0 25px #ff003c;

}